[submodule "submodules/poems"]
	path = submodules/poems
	url = https://github.com/miniPCB/poems.git
	branch = main
[submodule "submodules/test_reports"]
	path = submodules/test_reports
	url = https://github.com/miniPCB/test_reports.git
	branch = main
